<nav>
  <div class="nav-wrapper grey lighten-4 darken-4">
    <%=link_to image_tag("mediqueta2.png", alt: "Mediqueta", width: "150vh"), root_path %>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      <li><%=link_to "Iniciar Sesión", iniciarsesion_path %></li>
      <li><%=link_to "Registrarse", registrarse_path %></li>
      <li><%=link_to "Acerca", about_path %></li>
      <li><%=link_to "Contacto", contact_path %></li>
    </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li><a href="sass.html">Sass</a></li>
  <li><a href="badges.html">Components</a></li>
  <li><a href="collapsible.html">Javascript</a></li>
  <li><a href="mobile.html">Mobile</a></li>
</ul>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('.sidenav').sidenav();
    });
</script>